<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/logo.png" alt="Carri'AIR logo" class="db w4 center mb4 br0">
			<p class="f3 lh-title light-gray b tc mb2">{{ .Site.Data.footer.title }}</p>
			<p>{{ .Site.Data.footer.blurb }}</p>

			{{ partial "newsletter-form" . }}

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Carri'AIR</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Accueil</a></li>
					<li><a href="/qui-sommes-nous/" class="link">Qui sommes-nous ?</a></li>
					<li><a href="/nos-actions/" class="link">Nos actions</a></li>
					<li><a href="/ils-parlent-de-nous/" class="link">Ils parlent de nous</a></li>
					<li><a href="/post" class="link">Actualités</a></li>
					<li><a href="/contact" class="link">Contact</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Nos actions</h3>
				<ul class="mb3">
					<li><a href="/nos-actions/#decouverte-aeronefs" class="link">Découverte des aéronefs</a></li>
					<li><a href="/nos-actions/#decouverte-metiers" class="link">Métiers &amp; filières</a></li>
					<li><a href="/nos-actions/#handivol" class="link">Une petite Aile en PLUS</a></li>
					<li><a href="/nos-actions/#envol" class="link">Envol Missions Locales</a></li>
					<li><a href="/nos-actions/#a-tire-delles" class="link">À Tire d'Elles</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Nous suivre</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://www.facebook.com/p/Carriair-100063463451172" "svg" "icons-facebook" "alt" "Carri'AIR sur Facebook") }}
				</ul>
			</div>

		</div>
	</div>

</footer>
